$color-black: #000;
$color-gray-dark: #2b2b2b;
$color-gray-medium: #3F4B56;
$color-gray-light: #7a7a7a;
$color-gray-pale: #dbdbdb;
$color-white: #FFF;

$color-green-light: #A7C520;
$color-turquoise: #3BBEC0;
$color-blue-light: #67b0d1;
$color-yellow-light: #EBC85E;
$color-red-light: #E87352;

$color-green-light-rgb: rgb(167,197,32);
$color-turquoise-rgb: rgb(59,190,192);
$color-blue-light-rgb: rgb(103,176,209);
$color-yellow-light-rgb: rgb(235,200,94);
$color-red-light-rgb: rgb(232,115,82);
