$color-black: #000;
$color-gray-dark: #2b2b2b;
$color-gray-medium: #3F4B56;
$color-gray-light: #7a7a7a;
$color-gray-pale: #dbdbdb;
$color-white: #FFF;

$color-turquoise: #3BBEC0;
$color-blue-light: #67b0d1;
$color-yellow-light: #EBC85E;
$color-red-light: #E87352;
