$xs-width:  320px;
$s-width:   480px;
$m-width:   768px;
$l-width:   992px;
$xl-width:  1200px;

@mixin screen($resMin, $resMax)
{
  @media screen and (min-width: $resMin) and (max-width: $resMax)
  {
    @content;
  }
}

@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

@mixin min-screen($res)
{
  @media screen and (min-width: $res)
  {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
