<div class="small-chart-container" id="{{ responseDataItem.name | lowercase | nospace }}">
  <h5>{{ responseDataItem.name }}</h5>
  <h6>{{ responseDataItem.description }}</h6>
  <div class="small-chart">
    <div class="small-chart-inner">
      <div id="chart-{{ chartId }}" class="chart">
        <!-- chart goes here -->
      </div>
      <div class="chart-description">{{ responseDataItem.units }}</div>
    </div>
  </div>
  <div class="chart-long-description">
    <div style="margin:20px;">{{ responseDataItem.long_description }}</div>
  </div>
</div>
